
#wrapper{
width:940px;
margin:20px auto;
background:white;
overflow:hidden;
background:rgba(250,250,250,.94);
}

footer {
    height: 30px;
    clear: both;
    border-top: dotted gray;
    border-bottom: dotted gray;
    border-radius: 30px;
    font-family: Arial;
    color: lightyellow;
    margin-top: 25px;
}

footer li {
    float: left;
    width: 33.3%;
    text-align: center;
    list-style-type: none;
    font-size: 1.1em;
    display:inline; 
}

</style>
